body {
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    background: #e9ebe6 url(../img/Apendice-Costos-Pagina.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
}
div {
    padding: 3px 6px;
    margin: 6px 3px;
}