body{
    margin: 0;
    padding: 0;
}
#menuFijo{ 
    position: absolute;  
    height: 101px; 
    margin: 0 0; 
    padding: 0 0; 
    width: 100%; 
    right: 0px;
    left: 0px;
    top: 0px;
    }
#barraMenu{ display: inline-flex; position: fixed; font-family: "lato Regular", Helvetica, sans-serif; color: #333333; background-color: #e9ebe6;}
#menuContenedor{display: flex; flex-direction: row; }
.menuSecciones{ display: flex; flex-direction: row; overflow: visible; 
    list-style-type: none;
    padding: 0 0;
    margin: 0 0;
}
.dropdown{}
.dropdownContenidos{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdownContenidos {
    display: flex;
    flex-direction: column;
}
.botonSeccion:hover a{ color: white; background-color: #009999; text-decoration: underline;}
.botonSeccion{
    margin: auto 0;
    border-left: solid;
    border-width: 3px;
    border-left-color: black;
    height: 100%;
    display: flex;
    align-content: center;                        
}
.activo{
    padding: 56px 5px 0 5px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.botonLink{
    padding: 56px 5px 0 5px;
    text-align: center;
    color: black;
    text-decoration: none;
}
#bannerComunidad{ 
    background: #e9ebe6 url(../img/Buscador-DEZZPO-01.png) no-repeat center; 
    background-size: 100% auto;
    height: 690px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-attachment: scroll;    
    align-items: center;
    align-content: center;
    font-family: "lato Regular", Helvetica, sans-serif;  
    font-size: 21px;
}
#contenedorBanner{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 570px;    
}
.slogan{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 348px 33px 80px 30px;
    color: white;
}
.slogan h1{
    color: #009999;
}
.contenerdorFormulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 148px;
}
.formularioBusqueda1{
    display: flex;
    flex-direction: column;
    height: 390px;
    align-items: flex-end;
    align-content: space-around;
    justify-content: space-evenly;
    padding-right: 48px;
}
.mensajeBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: center;
    height: 110px;
    padding-top: 30px;
    background-color: #006699;
    color: white;
    font-size: 30px;    
}
#footer{    
    width: 100%;
    margin: 0 auto;
    background: #e9ebe6 url(../img/Footer.png) no-repeat center; 
    background-size: 100% auto;
    width: auto;
    display: flex;
    background-attachment: scroll;         
}
#footerContainer{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: 100%;
    font-family: "lato Regular", Helvetica, sans-serif;  
    font-size: 17px;
    color: white;
    padding-top: 21px;    
}
.footerSuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.footerSuperior li { list-style-type: none;}
.footerSuperior a {font-size: 21px; text-decoration: none;}
.footerSuperior a:link{
    color: white;    
}
.footerSuperior a:visited{
    color: white;    
}
.footerSuperior a:hover{
    background-color: #006699;    
    text-decoration: underline;
}
.masLinks{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 15px 0px 35px 121px;    
    justify-content: space-between;
    justify-items: center;
}
.siguenosRedes{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 48px;
    padding-left: 48px;
    margin-top: -15px;
}
.datosContacto{
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-top: -15px;
}
.listaFooter{
    margin-top: -21px;
    text-align: justify;
}
.footerInferior{
    width: 100%;
    text-align: center;
    font-size: 21px;
}