@use '@styles/_variables' as *;

.comments-component {
    .sendbird-conversation__messages {
        flex: 1 1 auto !important;
    }

    .sendbird-openchannel-conversation .sendbird-openchannel-conversation-scroll {
        overflow-y: visible !important;
    }
}
