@use '@styles/_variables' as *;

.profile-page {
    .user-stadistics {
        position: relative;
        top: 100px;
        right: 40px;

        @media screen and (max-width: 900px) {
            position: inherit !important;
        }
    }

    .info-user-background {
        background: url('/assets/img/FondoAgua@2x.png') no-repeat center;
        background-attachment: scroll;
        background-size: cover;
        height: auto;
        min-height: 350px;
    }

    .border-green-bottom {
        border-bottom: 3px solid var(--primary-green-text-color);
    }

    .perfil-banner {
        background: var(--background-light-gray-color) url('/assets/img/ComunidadPropietarios1.png') no-repeat center;
        background-attachment: scroll;
        background-size: 100% 100%;
        height: auto;
        min-height: 380px;
        width: 100%;
        margin-left: 0px;
    }

    .mapa-ubicacion {
        background: var(--background-light-gray-color) url('/assets/img/Bogota.png') no-repeat center;
        background-attachment: scroll;
        background-size: 100% 100%;
        height: auto;
        min-height: 330px;
        width: 100%;
        color: var(--background-light-gray-color);
    }
    
    // MUI Override
    .MuiRating-root {
        color: var(--primary-green-text-color) !important;
    }
}
