<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/comunidad_propietarios.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Comunidad de Propietarios </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="comunidadPropietariosTitulo">
                <span> SOMOS UNA COMUNIDAD DE COMERCIANTES PROFESIONALES, 
                    CONTRATA PERSONAL CALIFICADO MANTENIMIENTO GENERAL 
                    RESIDENCIAL Y DE PROPIEDAD HORIZONTAL, CONSULTA 
                    PÚBLICAMENTE LOS PERFILES Y LA REPUTACIÓN DE LOS 
                    PRESTADORES DE SERVICIOS. AHORA TUS PROYECTOS Y 
                    REMODELACIONES MÁS RÁPIDO Y SIMPLE QUE NUNCA</span>
                <span>
                    Contrata seguro con 
                    nuestra comunidad
                </span>
            </div>
            <div class="comunidadPropietariosRegistro">
                <form action="">
                    <span>COMUNIDAD
                        PROPIETARIOS</span>
                    <label for="">NOMBRE </label>
                    <input type="text" name="" id="">
                    <label for="">CONTRASEÑA</label>
                    <input type="text" name="" id="">
                    <label for="">CONFIRME LA CONTRASEÑA </label>
                    <input type="text" name="" id="">
                    NO SOY UN ROBOT 
                    <button class="btn">CREAR CUENTA</button>
                    BIENVENIDO
                </form>                
            </div>
            <div class="comunidadPropietariosBuscador row">
                <div class="col">
                    <p>
                        Con ayuda de la comunidad haz realidad la casa que deseas.
                        Encuentra un profesional Seguro y Confiable, para cada trabajo. 
                        Desde iluminación y pequeños arreglos, hasta diseños de 
                        ingeniería y remodelaciones completas.
                    </p>
                </div>
                <div class="col">
                    <form action="">
                        <!--se importa buscador del home -->   
                    </form>
                </div>
            </div>
            <div class="comunidadPropietariosConsultar row">
                <div class="col">
                    <p>
                        Nuestra recomendación esencial 
                        al contratar un comerciante calificado, 
                        nunca cancelar la totalidad por 
                        adelantado, revisar siempre las referencias, 
                        calificaciones y afiliaciones del perfil.
                    </p>
                    <span>Propietario revisa la </span>
                    <button class="btn">lista de chequeo</button>
                    <span>
                        3196138057
                        Lunes a viernes, 8am - 5pm
                        Sabados 9am - 2pm
                    </span>
                </div>
                <div class="col">
                    <span>Planea con nosotros el proyecto</span>
                    <p>
                        El espacio de tus sueños comienza con una 
                        gran idea y tenemos miles de ellas.
                    </p>
                    <span>Observa cambios</span>
                    <p>
                        Inspirate, tenemos muchos trabajos realizados
                    </p>
                    <span>¿Requieres de asesoria?</span>
                    <p>
                        Nuestra comunidad de comerciantes 
                        calificados te ayudaran con tus inquietudes.
                    </p>
                    <span>Presupuestos</span>
                    <p>
                        Saber cuanto te puede costar es 
                        importante para iniciar el proyecto.
                    </p>
                </div>
                <div class="col">
                    <ul>
                        <li><button>Nuestro Blog</button></li>
                        <li><button>Proyectos 
                            Destacados</button></li>
                        <li><button>Pregunta a un 
                            Profesional</button></li>
                        <li><button>Comenzar 
                            Cotización</button></li>
                    </ul>
                </div>
            </div>
            <div class="comunidadPropietariosListaVerificacion">
                <span>LISTA DE VERIFICACION</span>
                <p>Verifica Adecuadamente La Identidad
                    El personal cuenta con los elementos de protección 
                    personal requeridos
                    Recuerda verificar los certificados tecnicos y de afiliación 
                    propios de cada labor 
                    - Trabajo seguro en alturas, arl, eps, instalaciones gasodomesticas, polizas -
                </p>
                <ul>
                    <li>Las obras que afectan a terceros de la comunidad, como muros de carga o de fachada, 
                        han de hacerse saber para conseguir su aprobación. Sin embargo ten en cuenta que además es
                        necesario un permiso de obra que concede la curaduria urbana, al presentar el proyecto
                        firmado por un arquitecto   </li>
                    <li> Diligenciar y firmar debidamente el contrato de prestación de servicios </li>
                    <li> Cuando hallas elegido el profesional comerciante calificado para tu proyecto, descarga y 
                        utiliza el contrato de adquicisión, esto para resolver discrepancias concretas durante el 
                        desarrollo del servicio</li>
                    <li>Comun mente en el desarrolllo del servicio surgen imprevistos, estos  no son posibles de 
                        planear al diseñar, reserva un 5% del presupuesto en caso de que alguna eventualidad se presente </li>
                    <li>Expon claramente cualquier aspecto de la ejecucción que pueda influir con el resultado final 
                        - tiempos de permanencia, color, marca, tiempos de secado, etc -</li>
                    <li>Si el proyecto tiene un inpacto energetico y/o ecologico, Concretamente el instituto para la, 
                        ofrece ayudas y subvenciones institucionales</li>    
                    <span>Se resuelve la encuesta de satisfacción del servicio</span>
                </ul>            
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>