<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/ayuda_pqrs.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Ayuda & PQRS </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="ayudaPqrsTitulo">
                <span>¿Qué tipo de profesional necesitas?</span>
                <p>¿De  que manera podemos ayudarte?</p>
                <p>Preguntas frecuentes</p>
            </div>
            <div class="ayudaPqrsPreguntas">
                <div class="row">
                    <div class="col">
                        <span>Propietarios FAQ’s</span>
                        <ul>
                            <li><a href="#">Adquirir servicios</a></li>
                            <li><a href="#">modificar proyectos</a></li>
                            <li><a href="#">¿como escoger el mejor personal?</a></li>
                        </ul>
                        <span>Comerciantes calificados FAQ’s</span>
                        <ul>
                            <li><a href="#">Ofrecer servicios </a></li>
                            <li><a href="#">¿Cual es el costo de un proyecto?</a></li>
                            <li><a href="#">¿Como certifico mis habilidades y sevicios?</a></li>
                            <li><a href="#">¿Cuanto me cobra la comunidad Dezzpo?</a></li>
                            <li><a href="#">¿Como puedo aplicar a un proyecto?</a></li>
                            <li><a href="#">¿Como responder con un presupuesto?</a></li>
                        </ul>
                        <span>Y aquí, más todas las preguntas frecuentes</span>
                        <ul>
                            <li><a href="#">¿Cómo actualizo mi perfil en dezzpo?</a></li>
                            <li><a href="#">¿Cómo trabajan las calificaciones de los perfiles?</a></li>
                            <li><a href="#">¿como solicitar y realizar calificaciónes? </a></li>
                            <li><a href="#">Configurar mi cuenta</a></li>
                            <li><a href="#">Seguridad</a></li>
                            <li><a href="#">No puedo usar mi cuenta</a></li>
                            <li><a href="#">Consejos practicos para Comerciantes calificados</a></li>
                            <li><a href="#">Reglamentación del Sistema de Salud y seguridad en el trabajo</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <span>Servicio al Cliente</span>
                        <p>
                            Si no estas seguro como la comunidad funciona,
                            o tienes una pregunta que no halla sido resuelta
                            en nuestra seccion de preguntas frecuentes, 
                            nuestro equipo estará dispuesto a ayudar, 
                            respondiendo a tus mensajes de lunes a viernes
                        </p>
                        <span>Resuelve tus dudas 
                            comunícate con 
                            un asesor</span>
                        <button class="">  
                            CHAT EN VIVO
                        </button>    
                    </div>
                </div>                
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>