{
    "presets": [
      [
        "@babel/preset-env",
        {
          "loose": true,
          "modules": false,
          "shippedProposals": true,
          "targets": {
            "browsers": [ ">0.25%", "not dead" ]
          },
          "useBuiltIns": "usage",
          "corejs": "3.1"
        }
      ],
      [
        "@babel/preset-react",
        {        
          "pragma": "React.createElement"
        }
      ]
    ],
    "plugins": [
      "styled-components",
      [
        "transform-class-properties", { "spec": true }
      ],
      [
        "@babel/plugin-proposal-class-properties",
        {
          "loose": true
        }
      ],           
      [
        "@babel/plugin-transform-runtime",
        {
          "helpers": true,
          "regenerator": true
        }
      ]    
    ]
}
