{
  "presets": [
    [
      "@babel/preset-env", // transpila a js de navegador em5
      {
        "corejs": 3.11, // ultima version de coreJs polyfills
        "useBuiltIns": "usage" // al detectar el uso
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic" // evita importar react en cada pagina
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]    
  ]
}