{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "shippedProposals": true,
        "targets": {
          "browsers": [
            ">0.25%",
            "not dead"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": "3.1"
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true,
        "pragma": "React.createElement"
      }
    ],
    "@babel/flow"
  ],
  "plugins": [
    [
      "@babel/plugin-syntax-dynamic-import",
      "babel-plugin-macros"
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "regenerator": true
      }
    ]
  ]
}
