<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/nuevo_proyecto.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Nuevo Proyecto </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="nuevoProyectoBuscador row">
                <div class="col">
                    <span> Con ayuda de la comunidad haz realidad la casa que deseas.

                        Encuentra un profesional Seguro y Confiable, para cada trabajo. 
                        Desde iluminación y pequeños arreglos, hasta diseños de 
                        ingeniería y remodelaciones completas.</span>
                </div>
                <div class="col">
                    <!--se importa buscador del home -->
                </div>                
            </div>
            <div class="nuevoProyectoBuscador2">
                <p>compara precios de los mejores profesionales calificados </p>                
                <form action="">
                    2. Crea una oferta
                    Dejanos conocer un poco más hacerca del proyecto que vas a postular
                    <label for="">¿Que servicio requieres? *</label>
                    <input type="text" name="" id="">Categorias
                    <label for="">¿Cuantas habitaciones y/o espacios seran intervenidos?</label>
                    <input type="text" name="" id="">Por favor especifica
                    <label for="">¿Han sido diseñados planos arquitectonicos para este proyecto?</label>
                    <select name="" id="">
                        <option value="">Aprobados,</option>
                        <option value="">Aplicado,</option>
                        <option value="">Sin aplicar aun,</option>
                        <option value="">no estoy seguro,</option>
                        <option value="">no son necesarios en esta oportunidad</option>
                    </select>
                    <label for="">¿Cúal es el estado de los permisos para este proyecto?</label>
                    <select name="" id="">
                        <option value="">Aprobados,</option>
                        <option value="">Aplicado,</option>
                        <option value="">Sin aplicar aun,</option>
                        <option value="">no estoy seguro,</option>
                        <option value="">no son necesarios en esta oportunidad</option>
                    </select>
                    Cargar fotos imagenes y documentos relacionados
                    * Campos requeridos
                </form>
            </div>
            <div class="nuevoProyectoBuscador3">
                <form action="">
                    3. Información Adicional
                    Detalles Adicionales                     
                    <label for="">¿Con cuál disponibilidad de horario y tiempo cuenta para prestar el servicio a usted? *</label>
                    <input type="text" name="" id="">
                    <label for="">¿Qué tipo de propiedad es?</label>                    
                    <select name="" id=""> Selecciona el tipo de propiedad, 
                        <option value="">Propiedad Colonial (1800 - 1920), </option>
                        <option value="">Propiedad suburbana (1920-1960), </option>
                        <option value="">Propiedad moderna (1960-presente), </option>
                        <option value="">otra, </option>
                        <option value="">lo desconozco</option>
                    </select>
                    <label for="">¿Cual es el codigo postal de la propiedad?</label>
                    <input type="text" name="" id="">
                    <label for="">DESCRIBE EL TIPO DE SERVICIO QUE NECESITAS *</label>
                    <input type="text" name="" id="" 
                           placeholder="provee información adicional aquí, como especificaciones de tecnica y materiales 
                           requeridos que el comerciante calificado deba conocer.">
                    * Campos requeridos
                </form>
            </div>
            <div class="nuevoProyectoMensaje">
                <span>INGRESAR DATOS DE CONTACTO</span>
                <p>Hasta cuatro Comerciantes calificados te contactaran para aplicar con una cotización a tu proyecto. 
                    Para garantizar la mejor respuesta asegúrate que tus datos son exactos, solo compartiremos tu numero 
                    con los comerciantes calificados interesados, por favor responde a su llamada. Detalles de contacto</p>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>