<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/presupuestos.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Presupuestos </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="presupuestosMensaje">
                <span> Solicitalo online, en menos tiempo, totalmente 
                    gratuito y sin compromiso.  </span>
                <span> 
                    Contamos con los mejores precios del mercado de reformas, conocer el costo 
                    que tiene desarrollar tu proyecto ahora, y procede a elegir el que te brinde 
                    más confianza, mayor calidad, y el mejor costo   
                </span>
            </div>
            <div class="presupuestosMensajeBuscador row">
                <div class="col">
                    <span>Publica tu proyecto gratis, los profesionales disponibles te 
                        contactaran para ofrecer su presupuesto</span>
                    <p>
                        Anuncia gratuitamente un trabajo. 
                        Lee comentarios, recibe cotizaciones y sigue las recomendaciones para contratar.
                    </p>
                </div>
                <div class="col">
                    <!--se importa buscador del home --> 
                </div>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>