@use '@styles/_variables' as *;

.Container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.ArrowButton {
    min-width: 48px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    // Common styles
}

.ArrowBack {
    @extend .ArrowButton;
    background-color: var(--background-nav-bar-active-color) !important;
    border-radius: 15px 0 0 15px !important;
}

.ArrowNext {
    @extend .ArrowButton;
    background-color: var(--background-light-gray-color) !important;
    border-radius: 0 15px 15px 0 !important;
}
