<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/nosotros.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Nosotros </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="nosotrosHistoria">
                <span> HISTORIA </span>
                <p>
                    La Comunidad Dezzpo Inc, un Marketplace de servicios publicitarios, 
                    para contratistas de mantenimiento inmobiliario. Aquí estamos cambiando
                    la forma de contratar, comerciantes locales de reformas, maestros de 
                    construcción e instaladores independientes de acabados. 
                    Consulta públicamente los perfiles y la reputación de los prestadores de 
                    servicios, tus proyectos y adecuaciones nunca han sido mejor asistidos.
                </p>
            </div>
            <div class="nosotrosMisionVision">
                <span>MISIÓN </span>
                <p>
                    Trabajamos para las personas, destacándonos por la calidad del servicio al 
                    cliente, el crecimiento continuo del ser y la gestión tecnológica, somos una 
                    Comunida de Comerciantes Calificados en mantenimiento general doméstico, brindando a
                    susproyectos gestión oportuna del talento humano adecuado , haciendo 
                    asequible la técnica requerida para una solución de experiencia y prevención. 
                </p>
                <p>
                    Dezzpo será en 2020 una marca colombiana posicionada, referente de consulta para la 
                    gestión en proyectos de mantenimiento, ofreciendo a la comunidad una propuesta de 
                    valor amigable para los  Comerciantes calificados y propietarios. Promoviendo el 
                    mejoramiento de la calidad de vida, y de los  servicios, a través de soluciones 
                    tecnológicas con información a la medida. 
                </p>
                <span>VISIÓN</span>
            </div>
            <div class="nosotrosPoliticas">
                <span>POLÍTICA INTEGRAL  HSEQ</span>
                <p>
                    Propendemos por mitigar el impacto ambiental. Nuestro proposito es asegurar la creacion de valor y 
                    perdurarción en el tiempo. Usamos controles, tecnicas y productos de calidad, alcanzando con nuestro 
                    trabajo la satisfaccion y rentabilidad del cliente y el bienestar de nuestros colaboradores, capacitandonos 
                    en el correcto uso de elementos de proteccion personal y de los equipos. 
                </p>
            </div>
            <div class="nosotrosEtica">
                <span>VALORES Y PRINCIPIOS</span>
                <ul>
                    <li>Disiplina </li>
                    <li>Eficiencia  </li>
                    <li>Empatia y humanismo </li>
                    <li>Excelencia y calidad  </li>
                    <li>Trabajo en equipo </li>
                    <li>Crecimiento personal </li>
                    <li>Orden y limpieza </li>
                </ul>
            </div>
            <div class="nosotrosEquipo">
                <span>Equipo Dezzpo
                    Conoce a nuestro equipo</span>
                <button>Vinculate</button>
            </div>
            <div class="nosotrosHitos">
                <span>ROAD MAP
                    HITOS</span>
                    <img src="../../../img/RoadMap.svg" alt="ROAD MAP">
                    <p>
                        Pronto estaremos disponibles en  
                        <li><a href="#">Apple App Store </a></li>
                        <li><a href="#">Android Google Play App Store </a> </li>
                    </p>
            </div>
        </div>
    </main>    
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>