@use '@styles/_variables' as *;

.about-page {
    .bg-mission-vision {
         background: var(--background-light-gray-color) url('/assets/img/BackgoundHexagonal.png') no-repeat center !important;
         background-size: 100% 100% !important;
         
         // Used in multiple sections
         &.nosotros-mision-vision {
             background: var(--background-light-gray-color) url('/assets/img/Nosotros2.png') no-repeat center !important;
         }
    }

    .section-base {
         background-attachment: scroll;
         background-size: 100% 100%;
         height: auto;
         width: 100%;
    }

    .nosotros-historia {  
        @extend .section-base;
        background: var(--background-light-gray-color) url('/assets/img/Nosotros1.png') no-repeat center;
        background-size: cover;
        min-height: 700px;
        color: var(--background-light-gray-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
    }

    .nosotros-mision-vision {
        @extend .section-base;
        // background defined in specific class or override
        min-height: 400px;
        color: var(--primary-titles-text-color);
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        padding-left: calc(50vw - 50%) !important;
        padding-right: calc(50vw - 50%) !important;
    }

    .nosotros-politicas, .nosotros-etica {
        @extend .section-base;
        background: var(--background-light-gray-color) url('/assets/img/Asesorias1.png') no-repeat center;
        background-size: cover;
        min-height: 330px;
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        padding-left: calc(50vw - 50%) !important;
        padding-right: calc(50vw - 50%) !important;
    }
    
    .nosotros-etica {
        background-image: url('/assets/img/Nosotros3.png');
        background-size: cover;
        color: var(--background-light-gray-color);
    }

    .nosotros-equipo {
        @extend .section-base;
        background: var(--background-light-gray-color) url('/assets/img/Nosotros4.png') no-repeat center;
        background-size: cover;
        min-height: 330px;
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        padding-left: calc(50vw - 50%) !important;
        padding-right: calc(50vw - 50%) !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .right ul {
        list-style: none;
        border-left: 3px solid;
        font-size: 21px;
        text-align: left;
        margin-right: 100px;
        margin-top: 30px;
    }
}
