@use '@styles/_variables' as *;

.consulting-page {
    .asesorias-titulo {
        background: var(--background-light-gray-color) url('/assets/img/Asesorias2.png') no-repeat center;
        background-attachment: scroll;
        background-size: cover;
        min-height: 550px;
        height: auto;
        width: 100%;
        color: var(--background-light-gray-color);
        display: flex;
        flex-direction: column;
        text-align: left;
        float: left;
    }

    .asesoria-message {
        font-size: 21px;
    }

    .page-container-offset {
        top: 110px;
    }

    .asesorias-preguntas {
        background: var(--background-light-gray-color) url('/assets/img/Asesorias1.png') no-repeat center;
        background-attachment: scroll;
        background-size: 100% 100%;
        min-height: 750px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .chat-asesor {
        color: var(--background-dark-gray-color);
        font-size: 27px;
    }

    .asesorias-blog {
        background-color: var(--background-dark-gray-color);
        width: 100%;
        color: var(--background-light-gray-color);
    }

    .btn-blog {
        background-color: var(--secondary-red-text-color) !important; // Red background
        color: var(--content-text-white-color) !important;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px 24px;
        font-weight: 700;
        
        &:hover {
            background-color: #a0355a !important; // Darker shade for hover
            color: var(--content-text-white-color) !important;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
    }
}
