@use '../../_variables' as *;

.help-page {
    .ayuda-pqrs-titulo {
        background: var(--background-light-gray-color) url('/assets/img/Ayuda&PQRS1.png') no-repeat center;
        background-attachment: scroll;
        background-size: cover;
        min-height: 550px;
        height: auto;
        width: 100%;
    }

    .ayuda-pqrs-preguntas {
        background: var(--background-light-gray-color) url('/assets/img/Ayuda&PQRS2.png') no-repeat center;
        background-attachment: scroll;
        background-size: 100% 100%;
        min-height: 640px;
        height: auto;
        width: 100%;

        @media screen and (max-width: 900px) {
            background: var(--background-light-gray-color) url('/assets/img/Ayuda&PQRS2Mobile.png') no-repeat center !important;
            background-size: cover !important;
        }

        @media screen and (max-width: 600px) {
             padding-bottom: 300px !important;
        }
        
        li a {
             color: var(--primary-black-text-color) !important;
        }
    }
}
