@use './variables' as *;
/* npm install --save node-sass */
/* make the customizations */
// $theme-colors: ();

/* then import bootstrap to set changes */
// @import '#bootstrap/scss/bootstrap';

// Global Utilities
@use './utilities';

// Layout
// Components
// @use './components/cards';

// Features - Marketing
@use './features/marketing/home';
@use './features/marketing/about';
@use './features/marketing/how-it-works';
@use './features/marketing/contact';
@use './features/marketing/legal';
@use './features/marketing/press';
@use './features/marketing/sponsors';
@use './features/marketing/help';
@use './features/marketing/consulting';
@use './features/marketing/ratings';
@use './features/marketing/budgets';
@use './features/marketing/cost-appendix';
@use './features/marketing/services';
@use './features/marketing/merchants';
@use './features/marketing/owners';
@use './features/marketing/new-project';
@use './features/marketing/contact-data';
@use './features/marketing/community';
@use './features/marketing/categories';
@use './features/marketing/location';

// Features - Auth
@use './features/auth/apply';

// Features - App
@use './features/settings/settings';
@use './features/projects/search';

// Legacy Global Styles (Refactored to use variables where possible)
// These are kept here for backward compatibility until full verification
// They duplicate some logic moved to utilities but are safer to keep for now
// until checked against components directly.


// Legacy text and background utilities removed. 
// Use standard CSS variables or MUI typography/colors.


/* **************************************************** */
/* Declaracion de typografias Titulos - Subtitulos - Encabezados */
/* **************************************************** */
// Legacy typography classes removed (headline-*, subtitle, etc.)


/* **************************************************** */
/* Declaracion de typografias Botones */
/* **************************************************** */
// Legacy buttons removed


/* **************************************************** */
/* Declaracion de Contenedores */
/* **************************************************** */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
body {
    font-family: 'lato Regular', Helvetica, sans-serif; // Keep legacy font here if specific override needed, but check vars
    font-size: 21px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    position: relative;
}
.router-output {
    position: relative;
    z-index: -1;
    top: 0px;
}
.pageContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
}
.left {
    float: left;
    align-items: flex-start;
}
.right {
    float: right;
    align-items: flex-end;
}
.center {
    text-align: center !important;
    align-items: center !important;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col ul a {
    text-decoration: none;
}
.col ul a:hover {
    text-decoration: none !important;
    color: var(--primary-light-gray-text-color);
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.row ul {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
    text-align: left;
    color: var(--primary-blue-light-color);
    padding: 3px 6px;
    margin: 6px 3px;
}
.row a {
    text-decoration: none;
}
.row a:hover {
    text-decoration: none !important;
}
.opacidad-negro {
    background-color: var(--background-smoke-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    padding: 1.5em;
    margin-top: 0;
    align-items: center;
    color: var(--background-light-gray-color);
}
.opacidad-negro p {
    text-align: center;
    margin-top: 0px;
    color: var(--background-light-gray-color);
    padding-left: 1em;
    padding-right: 1em;
}
.opacidad-blanco {
    background-color: rgba(233, 235, 230, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 21px;
    text-align: center;
    padding-left: 0px;
    align-items: center;
}

// .arrow-back and .arrow-next removed (migrated to DirectionalButton.module.scss)

.myDivDiagonalRightA {
    transform: skewY(3deg);
}

.myDivDiagonalRightB {
    transform: skewY(-3deg);
}

.backgroundDegrade{
    background-color: transparent;
    background-image: linear-gradient(145deg,#3F02A8 47%,#49DFC5 100%);
}
