/* Pantallas de Moviles */
@media screen and (max-width: 600px) {
    .asisteme {
        flex-direction: column !important;
        align-items: end !important;
    }

    .asisteme p,
    .asisteme button {
        font-size: 0.9rem !important;
        line-height: 1rem !important;
    }
}

.asisteme {
    background-color: var(--background-dark-purple-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    /* background: var(--background-hover-green-color); var(--background-main-green-color); */
}

.card-draft {
    max-width: 600px !important;
    min-height: 212px !important;
    background-color: var(--background-category-card-grey-color) !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 30px !important;
    border: white 1px solid !important;
}

.card-user {
    max-width: 345px !important;
    min-height: 212px !important;
    background-color: var(--background-category-card-grey-color) !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
    border-radius: 30px !important;
    border: white 1px solid !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btn.btn-primary.css-127v9yn-MuiButtonBase-root-MuiButton-root,
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.body-1.w-auto.css-127v9yn-MuiButtonBase-root-MuiButton-root {
    color: var(--content-text-white-color) !important;
    background-color: var(--background-hover-green-color) !important;
    border-radius: 30px !important;
    margin: 0 !important;
    font-weight: bold !important;
    min-width: 125px;
    white-space: pre-line;
    border: 1.5px solid;
}

.css-1jux8lz-MuiInputBase-root-MuiFilledInput-root,
.css-ym71rf-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 30px !important;
}

.css-16q9cs-MuiPaper-root-MuiAppBar-root {
    color: var(selected-border-green-color) !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px 12px !important;
}

.css-sa9qh9-MuiFormLabel-root-MuiInputLabel-root {
    top: -10px !important;
    font-size: 1.15rem !important;
    font-weight: 500 !important;
}

.detail-pill {
    background-color: var(--background-light-gray-color);
    color: var(--primary-titles-text-color);
    border-radius: 15px;
    min-height: 30px;
    min-width: 120px;
    text-align: start;
}

.information-pill {
    background-color: var(--background-white-color);
    color: var(--content-text-primary-color);
    border-radius: 15px;
    min-height: 30px;
    text-align: start;
}

.background-grey {
    background-color: var(--background-category-card-grey-color);
}
