.info-user_backgound{
    background: url(../img/FondoAgua@2x.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    height: auto;
    min-height: 350px;
}