.MuiTabs-flexContainer {
    overflow: auto;
}

@media screen and (max-width: 900px) {
    .mobile-app-menu {
        visibility: visible !important;
    }
}

.mobile-app-menu {
    visibility: hidden;
}