@media screen and (max-width: 600px) {
    .user-stadistics {
        position: inherit !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .user-stadistics {
        position: inherit !important;
    }
}

.info-user_backgound {
    background: url(../img/FondoAgua@2x.png) no-repeat center;
    background-attachment: scroll;
    background-size: cover;
    height: auto;
    min-height: 350px;
}

.border-green_bottom {
    border-bottom: solid;
    border-width: 3px;
    border-color: var(--primary-green-text-color);
}

.perfil-banner {
    background: #e9ebe6 url('/assets/img/ComunidadPropietarios1.png') no-repeat
        center;
    background-attachment: scroll;
    background-size: 100% 100%;
    height: auto;
    min-height: 380px;
    width: 100%;
    margin-left: 0px;
}

.user-stadistics {
    position: relative;
    top: 100px;
    right: 40px;
}

.mapa-ubicacion {
    background: #e9ebe6 url('/assets/img/Bogota.png') no-repeat center;
    background-attachment: scroll;
    background-size: 100% 100%;
    height: auto;
    min-height: 330px;
    width: 100%;
    color: #e9ebe6;
}

.css-ryrseu-MuiRating-root {
    color: var(--primary-green-text-color) !important;
}
