/* height: 810px; */
.apendiceCostosTitulo {
    background: #e9ebe6 url(../img/ApendiceCostos1.png) no-repeat center;
    background-attachment: scroll;
    background-size: 100% 100%;
    min-height: 420px;
    /* height: 100%; */
    width: 100%;
}
.titulo {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    float: right;
    align-items: flex-end;
    font-size: 29px;
    margin-right: 120px;
    margin-top: 130px;
}
.apendiceCostosPreguntas {
    background: #13495e url(../img/Worker.svg) no-repeat right;
    background-attachment: scroll;
    background-size: auto 100%;
    min-height: 240px;
    width: 100%;
}
.apendiceCostosPreguntas ul {
    text-align: left;
    margin-top: 0px;
    padding-top: 50px;
    padding-left: 100px;
}
.apendiceCostosPreguntas li {
    list-style-type: none;
}
.apendiceCostosPreguntas a {
    color: #e9ebe6;
    text-decoration: none;
}
.apendiceCostosPreguntas a:link {
    color: white;
}
.apendiceCostosPreguntas a:visited {
    color: white;
}
.apendiceCostosPreguntas a:hover {
    background-color: #e9ebe6;
    color: black;
    text-decoration: underline;
}
