/* Pantallas de Moviles */
@media screen and (max-width: 600px) {

    .contratistasReformas{
        flex-direction: column!important;
    }
}
/* Pantallas en tabletas */
@media screen and (min-width: 600px) and (max-width: 900px) {

}
/* Pantallas de Ordenador */
@media screen and (min-width: 900px) {
   
}

#categoriasServicios{
    background: #333333 url(../img/Profesionales_servicios2.png) no-repeat center;
    background-size: 100% 100%;
    background-attachment: scroll;
    width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.tituloServicios {
    width: 100%;
}
.contratistasReformas {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    width: 100%;
    overflow-x: auto;
}
.contratistasReformas ul {

}
.contratistasReformas li {
    list-style-type: none;
}