@media screen and (max-width: 600px) {
    .footerSuperior {
        background-size: 100% 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
}
@media screen and (min-width: 900px) {
}

.footer {
    margin: 0 auto;
    background: #313332;
    background-size: 100% auto;
    background-attachment: scroll;
    border-top: #deaf06;
    border-style: solid;
}
.footerContainer {
    color: white;
    padding-top: 21px;
}
.footerSuperior {
    background: url(../img/OndaDegrade@2x.png) no-repeat center;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.footerSuperior li {
    list-style-type: none;
    color: #deaf06;
}
.footerSuperior ul a {
    font-size: 14px;
    text-decoration: none;
}
.footerSuperior ul a:link {
    color: white;
}
.footerSuperior ul a:visited {
    color: white;
}
.footerSuperior a:hover {
    background-color: #006699;
    text-decoration: underline;
}
.siguenosRedes {
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    padding-right: 48px;
    padding-left: 48px;
    margin-top: -15px;
    justify-content: space-evenly;
}
.listaFooter {
    margin-top: -21px;
    text-align: justify;
    flex-direction: row !important;
}
.footerInferior {
    width: 100%;
    text-align: center;
    font-size: 21px;
    border-top: blanchedalmond;
    border-top-style: solid;
}
