/* Pantallas de Moviles */
@media screen and (max-width: 600px) {
    #contenedorBanner {
        flex-direction: column !important;
    }

    .comoComerciantes {
        flex-direction: column !important;
    }

    .comoPropietarios {
        flex-direction: column !important;
    }
}

/* Pantallas en tabletas */
@media screen and (min-width: 600px) and (max-width: 900px) {
    /* .bannerComunidad {
        background-size: auto 100% !important;
    } */
}

/* Pantallas en tabletas */
@media screen and (max-width: 1200px) {
    /* .bannerComunidad {
        background-size: auto 100% !important;   
    } */
    #contenedorBanner {
        justify-content: center !important;
    }
}

/* Pantallas de Ordenador */
@media screen and (min-width: 1200px) {
}

.MuiMobileStepper-dots {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;
}

.bannerComunidad {
    background: url('/assets/img/MainBanner.png') no-repeat center;
    /* background: #e9ebe6 url(https://firebasestorage.googleapis.com/v0/b/app-comunidad-dezzpo.appspot.com/o/Buscador-Dezzpo.png?alt=media&token=db72bbeb-29f7-4fa8-b995-6eced5b2f007
) no-repeat center; */
    background-size: auto 100%;
    min-height: 515px;
    height: auto;
    width: auto;
    display: flex;
    background-attachment: scroll;
    align-items: center;
    align-content: center;
    font-family: 'lato Regular', Helvetica, sans-serif;
    font-size: 21px;
}

#contenedorBanner {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: end;
}

.slogan {
    display: flex;
    flex-direction: column;
    padding: 0px 33px 0px 33px;
    color: var(--content-text-color);
}

.mensajeBanner {
    text-align: center;
    /* background-color: #006699; */
    color: white;
    font-size: 27px;
}

.color-steps {
    background: url('/assets/img/ColorSteps.png') no-repeat bottom;
    background-size: 100% 95%;
    background-attachment: scroll;
}

#comoFunciona {
    /* background: #13495e; */
    width: 100%;
    /* height: 330px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border-top: #1ec7e6;
    border-top-style: solid; */
    color: white;
}

#comoFunciona .comunidadTitulo {
    width: 90% !important;
    text-align: left;
}

#comoFunciona p {
    align-items: center;
    display: flex;
}

.comoPropietarios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 100%;
    align-items: center;
    align-content: center;
}

.nuevoProyecto {
}

.seleccionaPerfiles {
}

.calificaServicio {
}

.comoCard {
    background-color: var(--background-tooltip-color);
    border-radius: 15px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 230px;
}

.how-numbers {
    border-radius: 20px 0px;
    width: 50px;
    color: var(--content-text-white-color) !important;
}

.comoComerciantes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    /* border-top: #1ec7e6;
    border-top-style: solid; */
    width: 100%;
    align-items: center;
    align-content: center;
}

.buscarOfertas {
}

.cargaPresupuesto {
}

.calificaPropietario {
}
