#popularCategorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.categoriasPopulares {
    background-color: #313332;
    color: white;
    border-radius: 0.5rem;
}
.categoriasPopulares li {
    list-style-type: none;
}
