@media screen and (max-width: 600px) {
    .containerPatrocinadores {
        background-size: cover !important;
    }
}
/* Pantallas en tabletas */
@media screen and (min-width: 600px) and (max-width: 900px) {
}
/* Pantallas de Ordenador */
@media screen and (min-width: 900px) {
}

.containerPatrocinadores {
    background: #e9ebe6 url(../img/Patrocinadores1.png) no-repeat center;
    background-attachment: scroll;
    background-size: 100% auto;
    min-height: 510px;
    width: 100%;
}
.patrocinadoresMensaje {
    text-align: left;
    /* padding-left: 48px; */
}
.tituloDocumento h1 {
    font-size: 21px;
    margin-top: 0px;
    padding-top: 21px;
}
