/* Pantallas de Moviles */
@media screen and (max-width: 600px) {
    .presupuestosMensajeBuscador {
        background: #e9ebe6 url('/assets/img/BackgoundHexagonal.png') no-repeat
            center !important;
        background-size: 100% 100% !important;
        justify-content: center !important;
    }
}

/* Pantallas en tabletas */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .presupuestosMensajeBuscador {
        background: #e9ebe6 url('/assets/img/BackgoundHexagonal.png') no-repeat
            center !important;
        background-size: 100% 100% !important;
        justify-content: center !important;
    }
}

/* Pantallas de Ordenador */
@media screen and (min-width: 900px) {
    .presupuestosMensajeBuscador {
        justify-content: space-between !important;
    }
}

.presupuestosMensaje {
    /* background: #e9ebe6 url(../img/Presupuestos1.png) no-repeat center;  */
    background: #e9ebe6 url('/assets/img/Presupuestos1.png') no-repeat center;
    background-attachment: scroll;
    background-size: 100% 100%;
    min-height: 400px;
    height: auto;
    width: 100%;
    color: #e9ebe6;
}

.presupuestosMensajeBuscador {
    background: #e9ebe6 url('/assets/img/Presupuestos2.png') no-repeat center;
    background-attachment: scroll;
    background-size: 100% 100%;
    min-height: 510px;
    height: auto;
    width: 100%;
    margin-left: 0px;
}
