@use '@styles/_variables' as *;

.Footer {
    margin: 0 auto;
    background: #313332; // Legacy color preserved
    background-size: 100% auto;
    border-top: 1px solid var(--background-yellow-color);
}

.Container {
    // .footer-container
    color: var(--content-text-white-color);
    padding-top: 21px;
}

.TopSection {
    // .footer-superior
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.Column {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
    }
}

.LinkList {
    list-style-type: none;
    color: var(--background-yellow-color);
    padding: 0;
    
    li {
        margin-bottom: 8px;
    }
    
    a {
        font-size: 14px;
        text-decoration: none;
        color: var(--content-text-white-color);
        transition: color $transition-fast;
        margin-left: 5px;

        &:hover {
            color: var(--background-yellow-color); 
            text-decoration: none;
        }
    }
}



.LogoContainer {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 $spacing-3 0;
}

.SocialList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    
    li {
        margin: 0 10px;
    }
}

.BottomSection {
    // .footer-inferior
    width: 100%;
    text-align: center;
    font-size: 21px; // Keeping legacy size for now
    border-top: 1px solid blanchedalmond; // Legacy color
    padding: $spacing-3 0;
    
    p {
        @extend .TextBody;
    }
}

.Headline {
    // .headline-l
    font-size: $font-size-xl;
    font-weight: bold;
    color: var(--content-text-white-color);
    margin: 0;
}

.TextBody {
    // .body-1
    font-size: $font-size-md;
    font-family: $font-family-base;
    color: var(--content-text-white-color);
}
