@use '@styles/_variables' as *;

.login-page {
    @media screen and (max-width: 800px) {
        .form-check-input {
            width: 10% !important;
        }
        .ingreso-formulario {
            flex-direction: column !important;
        }
    }

    .imagen-ingreso {
        background: url('/assets/img/logo/LOGO-11.png') no-repeat center;
        background-attachment: scroll;
        background-size: 50% auto;
        min-height: 565px;
        height: auto;
    }

    .ingreso-formulario {
        background: linear-gradient(
            45deg,
            rgba(24, 177, 167, 1) 35%,
            rgba(0, 153, 204, 1) 100%
        );
        min-height: 540px;
        width: 100%;
        position: relative;
        flex-wrap: nowrap;
    }

    .ingresar-formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: left;
        min-height: 480px;
        margin-top: 20px;
        margin-right: 1em;
    }

    #formulario-ingreso {
        background-color: var(--background-white-color);
        border-radius: 50px;
        
        .form-control {
            height: 27px;
            text-align: center;
            width: 100%;
            background-color: var(--background-light-gray-color);
        }
    }

    // Specific checkbox override
    .form-check-input {
         width: 10% !important;
         margin: 0;
    }
}
