.ayudaPqrsTitulo{
    background: #e9ebe6 url(../img/Ayuda&PQRS1.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    min-height: 550px;
    height: auto;
    width: 100%;
}
.ayudaPqrsPreguntas{
    background: #e9ebe6 url(../img/Ayuda&PQRS2.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    min-height: 640px;
    height: auto;
    width: 100%;    
}
