/* height: 700px; */
.blogTitulo{
    background-color: #009999; 
    min-height: 180px;
    width: 100%;
}
.mainTitulo h1{
    margin: auto 0%;
}
.testimonioPropietarios{
    background-color: #e9ebe6;
}