/* Pantallas de Moviles */
@media screen and (max-width: 600px) {
    .comunidadComerciantesBeneficios{
        min-height: 480px !important;
        background-size: 100% 100% !important;
    }
}
/* Pantallas en tabletas */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .comunidadComerciantesBeneficios{
        background-size: auto !important;
    }
}
/* Pantallas de Ordenador */
@media screen and (min-width: 900px) {
   
}

.comunidadComerciantesTitulo{
    background: #e9ebe6 url(../img/ComunidadComerciantes1.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% 100%;
    color: #e9ebe6;
    height: auto;
    min-height: 480px;
    width: 100%;
}
.pitchComerciantes h2 {
    font-size: 21px;
    text-align: center;
}
.comunidadComerciantesRegistro{
    background: #e9ebe6 url(../img/ComunidadComerciantes2.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;    
}
.comunidadComerciantesBeneficios{
    background: #009999  url(../img/ComunidadComerciantes3.png) no-repeat right; 
    background-attachment: scroll;         
    background-size: cover;
    color: #e9ebe6;
    min-height: 840px;
    text-align: left;    
}
.subrayar h2{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    font-size: 27px;
}
.comunidadComerciantesBeneficios2{
    background: #e9ebe6 url(../img/Profesionales_servicios2.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    height: auto;
    width: 100%;
}