.datosContacto{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}
.listaContacto{
    margin-top: -21px;
    text-align: justify;
}
.border-top{
    border-top: #e9ebe6;
    border-top-style: solid;
}