@media screen and (max-width: 600px) {
    .form-check-input, #formBasicCheckboxRecordar {
        width: 10% !important;
    }
}
.imagenIngreso{
    background: #13495e url(../img/Ingresar_registro.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: auto 100% ;
    min-height: 565px;
    height: auto;
    width: 100%;
}
.ingresoFormulario{
    background: #13495e;     
    min-height: 540px;
    width: 100%;
    color: #e9ebe6;    
    position: relative;
}
.ingresarFormulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    min-height: 480px;
    width: 60%;
    background: rgba(19, 73, 94, 0.9); 
    margin-top: 20px;
    color: white;
    margin-right: 1em;
}
#formularioIngreso .form-control{
    height: 27px;
    text-align: center;
    width: 100%;
}
#formBasicCheckboxRecordar {
    width: 10% !important;
    margin: 0 0;
}
