.nosotrosContainer {     
    /* height: 1500px;  */
}

.nosotrosHistoria{
    background: #e9ebe6 url(../img/Nosotros1.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
    height: 780px;
    width: 100%;
    color: #e9ebe6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.opacidadNegro{
    height: 500px;
    width: 480px;
    padding-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    align-items: center;
}
.opacidadNegro p{
    padding-left: 33px;
    padding-right: 33px;
    font-size: 18px;
}
.pitchPropietarios h1 {
    font-size: 33px;
    margin-top: 0px;
    padding-top: 48px;
}
.pitchPropietarios h2 {
    font-size: 19px;
}
.blueAlert{
    color: #009999; 
    font-size: 33px;
}
.nosotrosMisionVision{
    background: #e9ebe6 url(../img/Nosotros2.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
    height: 590px;
    width: 100%;
    color: #e9ebe6;
}
.left{
    float: left;
    font-size: 18px;
    padding-left: 80px;
}
.left p{
    padding: 1em;
}
.right{
    float: right;
    font-size: 18px;
    padding-left: 80px;
}
.right p{
    padding: 1em;
}
.nosotrosPoliticas{
    background: #e9ebe6 url(../img/Asesorias1.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
    height: 300px;
    width: 100%;
}
.nosotrosEtica{
    background: #e9ebe6 url(../img/Nosotros3.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
    height: 300px;
    width: 100%;
    color: #e9ebe6;
}
.right ul{
    list-style: none;
    border-left-width: 3px;
    border-left-style: solid;
    font-size: 21px;
    text-align: left;
    margin-right: 100px;
    margin-top: 50px;
}
.nosotrosEquipo{
    background: #e9ebe6 url(../img/Nosotros4.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
    height: 426px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.opacidadBlaco{
    background-color: rgba(233, 235, 230, 0.8);
    height: 300px;
    width: 480px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    text-align: center;
    padding-left: 0px;
    align-items: center;
}
.nosotrosHitos{
    background: #e9ebe6 url(../img/Asesorias1.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% auto;
    height: 570px;
    width: 100%;
}
/*    
    background-color: #333333;
    background-color: #e9ebe6;
    background-color: rgba(0,0,0,0.8);
    background-color: #009999; 
    background-color:#1ec7e6;
    background-color: #13495e; 
    background-color:#92B901;
    background-color: #006699;
    background-color: #deaf06;
*/