#popularCategorias{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.categoriasPopulares {
    background-color: #313332;
    color: white;
}
.categoriasPopulares li {
    list-style-type: none;
}
#comerciantesLocales{
    background: #21969b;
    width: 100%;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.ciudades {    
    text-align: center;
    justify-content: center !important;
}
