.nuevoProyectoBuscador{
    background: #e9ebe6 url(../img/ComunidadPropietarios2.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 100% 100%;
    min-height: 590px;
    height: auto;
    width: 100%;
}
.nuevoProyectoBuscador2{ 
    background: #e9ebe6 url(../img/NuevoProyecto1.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    min-height: 530px;
    height: auto;
    width: 100%;
}
.nuevoProyectoBuscador3{
    background: #e9ebe6 url(../img/NuevoProyecto2.png) no-repeat right; 
    background-attachment: scroll;         
    background-size: auto 100%;
    min-height: 550px;
    height: auto;
    width: 100%;
}
.nuevoProyectoMensaje{
    background: #006699; 
}