/* Pantallas de Moviles */
@media screen and (max-width: 600px) {

}
/* Pantallas en tabletas */
@media screen and (min-width: 600px) and (max-width: 900px) {

}
/* Pantallas de Ordenador */
@media screen and (min-width: 900px) {
   
}

.profesionalesServiciosMensaje{
    background: #e9ebe6 url(../img/AsiTrabajamos3.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
    height: auto;
    min-height: 360px;
    width: 100%;
}