/* height: 700px; */

#registrate{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.registrateImagen{
    display: flex;
    flex-direction: column;
    min-height: 515px!important;
    height: auto!important;
    width: 50%;
    margin-top: 20px;
    background: #e9ebe6 url(../img/Ingresar_registro.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: cover;
}
.registrateformulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 50%;
    background: #13495e; 
    margin-top: 20px;
    color: white;
}
#formularioRegistro input{
    border: none;
    width: 333px;
    height: 27px;
}
/*

*/