@media screen and (max-width: 600px) {
    #formularioRegistro .form-control{
        width: 100% !important;
    }
    .form-check-input, #formBasicCheckboxRobot {
        width: 10% !important;
    }
}

#registrate{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(24, 177, 167);
    background: linear-gradient(45deg, rgba(24, 177, 167, 1) 35%, rgba(0, 153, 204, 1) 100%);
}
.registrateImagen{
    display: flex;
    flex-direction: column;
    min-height: 565px !important;
    height: auto!important;
    width: 50%;
    margin-top: 20px;
    background: url(../img/IsologoFooter.png) no-repeat center; 
    background-attachment: scroll;         
    background-size: 50% auto ;
}
.registrateformulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 50%;
    /* background: #13495e;  */
    margin-top: 20px;
}
#formularioRegistro{
    background-color: var(--background-white-color);
    border-radius: 50px;
}
#formularioRegistro .form-control{
    height: 27px;
    background-color: var(--background-light-gray-color);
    /* width: 60%; */
}
#formBasicCheckboxRobot {
    width: 10% !important;
    margin: 0 0;
}
.form-check-label{
    padding-left: 8px !important; 
}
/* '#2594c2' */
.btn-group > .btn-check:checked + .btn, .btn-group > .btn-check:focus + .btn, .btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn-check:checked + .btn, .btn-group-vertical > .btn-check:focus + .btn, .btn-group-vertical > .btn:hover, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    background: #2594c2
}
.body-1.select-rol.textBlanco.d-flex.flex-row.align-items-center.justify-content-center.btn.btn-primary:hover {
    background: #2594c2
}
.body-1.btn-round.btn-middle.w-auto.select-rol.d-flex.flex-row.align-items-center.justify-content-center.btn.btn-primary{
    border: none;
    font-weight: bold;
}