<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/apendice_costos.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Apendice de costos </title>
</head>
<body>    
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="apendiceCostosTitulo">
                <span class="titulo">Costeo de Servicios <br/> Comunes</span>
            </div>
            <div class="apendiceCostosPreguntas">
                <ul>
                    <li><a href="#apendice de costos">
                        ¿Cuánto cuesta instalar nuevas tomacorrientes?</a></li>
                    <li><a href="#apendice de costos">
                        ¿Cuánto cuesta instalar una ducha electrica?</a></li>
                    <li><a href="#apendice de costos">
                        ¿Cuánto cuesta diagnosticar un fallo electrico?</a></li>
                    <li><a href="#apendice de costos">
                        ¿Cuánto cuesta remodelar una habitación?</a></li>
                    <li><a href="#apendice de costos">
                        ¿Cuánto cuesta instalar nuevas iluminaciones y lamparas?</a></li>
                </ul>                
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>