<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/profesionales_servicios.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Profesionales de servicios </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="profesionalesServiciosMensaje">
                Profesionales y Servicios
                Recuerda
                <p>
                    Los Certificados describen las acreditaciones que ha recibido cada comerciante 
                    calificado, estos se pueden consultar junto al perfil, además podras consultar 
                    las fotos de sus anteriores trabajos, las calificaciones y comentarios de otros 
                    Propietarios 
                </p>
                <span> Busca Profesionales en tu zona </span>
            </div>
            <div class="">
                <!--se importa contenidos del home --> 
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>