<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/registro.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Registro </title>
</head> 
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <!-- Seccion de Registro -->
    <section id="registrate">
        <div class="registrateImagen">
            
        </div>
        <div class="registrateformulario">
            <form id="formularioRegistro" action="">
                <div>
                    <h1>REGISTRATE</h1> 
                    <p>bienvenido a todos los beneficios de dezzpo</p> 
                    <label for="">Nombre</label><br>
                    <input type="text" value=""><br>
                    <label for="">Nombre de usuario</label><br>
                    <input type="text" value=""><br>
                    <label for="">Email</label><br>
                    <input type="email" value=""><br>
                    <label for="">Contraseña</label><br>
                    <input type="password" value=""><br>
                    <label for="">Confirme la Contraseña</label><br>
                    <input type="password" value=""><br>
                    <label for=""> No soy un robot
                        <input type="checkbox" checked="checkbox"> 
                    </label> <br>
                    <button type="submit">Crear Cuenta</button>
                    <p>Bienvenido</p>
                </div>
            </form>
        </div>
    </section>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>