<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/comunidad_comerciantes.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Comunidad de Comerciantes </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="comunidadComerciantesTitulo">
                <span> ¿TE FALTA GESTIÓN?, DÉJANOS REPRESENTAR 
                    TU TRABAJO GARANTIZAMOS UNA NOTABLE 
                    MEJORA EN INGRESOS Y OPORTUNIDADES DE CRECIMIENTO</span>
                <span>Propietarios y proyectos listos para contactar, trabajo cuando lo 
                    necesitas, con cada plan de afiliacion, obtendras al menos la 
                    misma cantidad de beneficios. Haz que tus clientes 
                    potenciales conozcan lo que tienes para ofrecer.</span>
                <span>Solicita Tu Membresia Ahora </span>
            </div>
            <div class="comunidadComerciantesRegistro">
                <div class="row">
                    <div class="col">
                        <form action="">
                            <span>COMUNIDAD
                                COMERCIANTES</span>
                            <label for=""> NOMBRE </label>
                            <input type="text" id="" name="">
                            <label for=""> CONTRASEÑA </label>
                            <input type="password" id="" name="">
                            <label for=""> CONFIRME LA CONTRASEÑA </label>
                            <input type="password" id="" name="">
                            NO SOY UN ROBOT 
                            <button> CREAR CUENTA</button>
                            <span>BIENVENIDO</span>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="comunidadComerciantesBeneficios">
                <div class="row">
                    <div class="col">
                        <span>Para tu negocio</span>
                        <p>
                            Encuentra nuevos clientes facilmente y mantente ocupado, 
                            con nuestros planes de publicidad perfil aparecera arriba
                            en las busquedas de Google, accede a un Micro sitio 
                            personalizado, diseñado y construido segun tus requerimientos.
                        </p>
                        <span>Para ti</span>
                        <p>
                            Aumenta tu influencia con el respaldo de la comunidad, 
                            Gestiona tus estadisticas, la Calificaciones es valorada segun tres aspectos:
                            Gestion, Calidad y Oportunidad del servicio.
                            Avisos instantaneos por email de nuevos requerimientos de servicio en el area 
                            donde quieres trabajar.
                        </p>
                        <span>Invita A Un Amigo</span>
                        <p>
                            Con el programa de referidos te premiamos por recomendar la comunidad y, 
                            ayuda así la Transformación digital inmobiliaria.

                            Invita tus amigos a que se registren al programa compartiendo tu código 
                            único, envía el Link a tus contactos, acumula puntos, obtén descuentos y
                            llévate premios.
                        </p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="comunidadComerciantesBeneficios2">
                <span>El plan de beneficios con la membresía incluye </span>
                <p>
                    Nosotros creamos los anuncios de contenido así que no tendras que preocuparte de hacerlo.
                    Las campañas publicitarias se diseñan y personalizan según tus necesidades,
                    así el costo varia con la cantidad de contenidos (posts digitales), 
                    el lugar de aparicion dentro de nuestros productos, la etapa en que se
                    encuentra su negocio, la duración de publicación del anuncio y el 
                    analisis de datos requerido.
                </p>
                <span>¿Cuáles son las grandes ventajas de hacer publicidad en Internet?</span>
                <ul>
                    <li>Alcance y visibilidad. Hay personas que te estan 
                        buscando y aún no saben que existes. 
                        Promociona las 24 horas del día y 
                        los 365 días del año, con el 
                        mejor servicio al cliente para 
                        mostrar toda tu experiencia de servicio.  </li>
                    <li>Audiencia calificada y segmentada. 
                        Alcance sus objetivos de crecimiento, nuestro público cautivo
                        comprende usuarios visitantes únicos del sitio web, seguidores en redes
                        sociales, y relaciones construidas la industria,</li>
                    <li>Mejora la penetración de tu marca. 
                        Posiciónese en el mercado digital, fideliza clientes y captura ventas, 
                        Publica generando reconociendo de marca por buenas 
                        prácticas y buen desempeño.</li>
                    <li>Mide el rendimiento de tus anuncios. Adopta herramientas de gestión estratégica CEO, tendrás un Informe de 
                        resultados en tiempo real, con el cual monitorear aquello que están 
                        comunicando tus posibles clientes.</li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer> 
</body>
</html>