@use '@styles/_variables' as *;

.Container {
    padding: $spacing-2;
}

.CommentCard {
    // .cardFrame replacement
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
    // Preserving the inline style from the component as a base
    background-color: #cfe8fc; 
    border-radius: 50px;
    padding: $spacing-4;
}

.Placeholder {
    text-align: center;
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
    color: #666;
}
