body {
    font-family: "lato Regular", Helvetica, sans-serif; 
    font-size: 21px;
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 100%;
    margin: 0 0;
    padding: 0 0; 
}
main{
    display: flex;    
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #333333;
}
.legalDocumentos{
    height: 480px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.tituloDocumento h1 {
    font-size: 21px;
    margin-top: 0px;
    padding-top: 21px;
}
.col{
    height: 100%;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}
.legalDocumentos a{
    color: #e9ebe6;
    text-decoration: none;
}
.legalDocumentos a:link{
    color: #e9ebe6;
}
.legalDocumentos a:visited{
    color: #e9ebe6;
}
.legalDocumentos a:hover{    
    text-decoration: underline;   
    color:  #009999;      
}
/*
    padding: 3px 6px;
    margin: 6px 3px;
    background-color: #333333;
    background-color: #e9ebe6;
    background-color: rgba(0,0,0,0.8);
    background-color: #009999; 
    background-color:#1ec7e6;
    background-color: #13495e; 
    background-color:#92B901;
    background-color: #006699;
    background-color: #deaf06;
*/