<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/blog.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Blog </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="blogTitulo">
                <span> BLOG </span>
            </div>
            <div class="testimonioPropietarios">
                <p>Testimonios de Propietarios</p>
                <div class="col">
                    <div class="row">
                        <p>No encontraba en quien depositar mi confianza, la restauracion 
                            de mis muebles es una realidad y estoy feliz</p>
                    </div>
                    <div class="row">
                        <p>La familia se crecio y la casa esta nuevamente llena de vida, 
                            contratar la ampliación de los espacios fue  algo muy sencillo</p>
                    </div>
                    <div class="row">
                        <p>Pasaron años antes de que me decidiera, ahora los problemas 
                            de humedad ya son cosas del pasado </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer> 
</body>
</html>