<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/ingreso.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Ingreso </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="ingresoFormulario row">
                <div class="col s12 l7"></div>
                <div class="col s12 l5">
                    <form action="">
                        <span>Bienvenido!</span>                        
                        <p>Eres nuevo, crea facil una cuenta,<a href="">Registrate</a></p>
                        <ul>
                            <li><a href="">Ingresar con Facebook </a></li>
                            <li><a href="">Ingresar con Gmail </a></li>                            
                        </ul>
                        <hr>
                        <input type="text" name="" id="" placeholder="correo o número celular">
                        <input type="password" name="" id="" placeholder="contraseña">
                        <span><a href="">OLVIDASTE LA CONTRASEÑA</a></span>
                        <span> Recuérdame </span>
                        <span>NO SOY UN ROBOT </span>
                        <button>INICIAR SESIÓN</button>
                        <span>BIENVENIDO</span>
                    </form>
                </div>
            </div>
            <div class="ingresoUbicacion row">
                <div class="col">
                    <span>Ingresa tu ubicación</span>
                    <form action="">
                        <p>
                            Podras consultar con mejor 
                            precision los costos y 
                            tiempos de entrega 
                        </p>
                        <label for="">Ciudad </label>
                        <select name="" id=""> seleccionar uno
                            <option value="">Bogota</option>
                        </select>
                        <label for="">Dirección </label>
                        <input type="text">
                        <button class="btn">Consultar</button>
                    </form>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>
</body>
</html>