@use '@styles/_variables' as *;

.Container {
    display: flex;
    justify-content: center;
    background-color: var(--background-white-color);
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Headline {
    font-size: $font-size-xl;
    font-weight: bold;
    color: var(--primary-titles-text-color);
}

.BodyText {
    font-size: $font-size-md;
    color: var(--content-text-color);
    font-family: $font-family-base;
}

.NavLink {
    background-color: transparent;
    color: var(--primary-black-text-color);
    border-radius: $radius-full;
    transition: background-color $transition-fast;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &:hover {
        background-color: var(--background-hover-green-color);
        color: var(--content-text-white-color);
    }
}

.SubmitButton {
    background-color: #17a2b8; // Legacy Teal
    color: var(--content-text-white-color);
    border-radius: $radius-full;
    padding: $spacing-3 $spacing-4;
    border: none;
    transition: transform $transition-fast;

    &:hover {
        transform: scale(1.05);
        background-color: var(--background-hover-green-color);
    }
}

.Select {
    border-radius: 10px;
    border: 1px solid var(--selected-border-light-gray-color);
    padding: 10px;
    width: 100%;
}
