<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/asi_trabajamos.css">
    <link rel="icon" type="image/png" href="../../../img/Comunidad-Dezzpo.png" sizes="32x32">
    <title> Asi trabajamos </title>
</head>
<body>
    <header class="section">
        <nav class="container nav-bar">
            <!--se importa barra de menu del home --> 
        </nav>
    </header>
    <main class="section">
        <div class="container">
            <div class="asiTrabajamosRegistro">
                <!--se importa el componente de registro --> 
            </div>
            <div class="asiTrabajamosChat">
                <span> Contacta Con Un Asesor  
                    en Tiempo Real En Nuestro Chat </span>
                <button class="btn">CHAT EN VIVO</button>
            </div>
            <div class="asiTrabajamosVinculate">
                <span>PERFIL COMERCIANTE </span>
                <button class="btn">Vinculate</button>
            </div>
            <div class="asiTrabajamosPropietario">
                <span> PERFIL PROPIETARIO </span>
                <p>
                    SOMOS UNA COMUNIDAD DE COMERCIANTES PROFESIONALES, 
                    CONTRATA PERSONAL CALIFICADO MANTENIMIENTO GENERAL 
                    RESIDENCIAL Y DE PROPIEDAD HORIZONTAL, CONSULTA 
                    PÚBLICAMENTE LOS PERFILES Y LA REPUTACIÓN DE LOS 
                    PRESTADORES DE SERVICIOS. AHORA TUS PROYECTOS Y 
                    REMODELACIONES MÁS RÁPIDO Y SIMPLE QUE NUNCA
                </p>
            </div>
            <div class="asiTrabajamosCertificaciones">
                <span>Certificación</span>
                <p>
                    Aumente sus posibilidades laborales, pregunta a nuestro equipo por nuestra insignia
                    de validación de habilidades, esto te permitira brindar mayor confianza a los 
                    propietarios, y acceder facilmente a proyectos de mayor complejidad 
                </p>
                <p>
                    Juntos programamos una visita de inspección para validarentre otras cosas, 
                    certificados y  diplomas, equipos y tecnica requerida.
                    ¿Listo para solicitar una? Regístrese e ingrese con su usuario para comenzar.
                </p>
            </div>
            <div class="asiTrabajamosCalificaciones">
                <span>Calificaciones</span>
                <p>
                    La valoracion debe darse con base en los siguientes tres aspectos
                    Gestion, Calidad y Oportunidad 
                    Observaciones generales  Y Evaluacion del desempeño estatus 
                    Cumple con los tiempos de entrega de las certificaciones, polizas, actas y contratos  
                    El servicio fue prestado en las fechas  y horario programados 
                    El servicio cumplio con las especificaciones y normas tecnicas establecidas 
                    El personal contratado fue suficiente y tenia todas las competencias necesarias para ejecutar las actividades del contrato 
                    Las facturas, soportes y documentos contractuales fueren entregados  
                    oportunamente 
                </p>
            </div>
            <div class="asiTrabajamosEstadisticas">
                <div class="row">
                    USUARIOS
                    ACTIVO DESDE
                    CLIENTES FELICES
                    PROYECTOS
                </div>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <!--se importa el footer del home --> 
        </div>
    </footer>  
</body>
</html>