@use '@styles/_variables' as *;

.ArrowNext, .ArrowBack {
    color: var(--primary-blue-light-color) !important;
    
    &:disabled {
        color: var(--content-text-light-gray-color) !important;
    }
}

.SliderImage {
    width: 100%; // Width controlled by Col parent
    height: 330px;
    object-fit: cover;
    padding: 2px; // Reduced padding
    border-radius: 8px;
    transition: transform $transition-fast;

    &:hover {
        transform: scale(1.02);
    }
}
