@use '@styles/_variables' as *;

.ArrowNext, .ArrowBack {
    color: var(--primary-blue-light-color) !important;
    
    &:disabled {
        color: var(--content-text-light-gray-color) !important;
    }
}

.SliderImage {
    width: 100%; // Width controlled by Col parent
    aspect-ratio: 1; // Square on mobile
    object-fit: cover;
    padding: 2px;
    border-radius: 8px;
    transition: transform $transition-fast;

    @media (min-width: 768px) {
        aspect-ratio: auto;
        height: 330px;
    }

    &:hover {
        transform: scale(1.02);
    }
}
