@use '@styles/_variables' as *;

.Container {
    width: 80%;
    margin: $spacing-4 auto;
    padding: $spacing-4;
}

.TitleWrapper {
    // .tituloServicios
    text-align: center;
    border-bottom: 3px solid var(--primary-green-text-color);
    width: fit-content;
    margin: 0 auto $spacing-4 auto;
    padding-bottom: $spacing-2;
}

.Title {
    // .headline-xl
    font-family: $font-family-heading;
    font-size: $font-size-4xl;
    margin: 0;
}

.CategoryList {
    font-size: $font-size-md;
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: $spacing-2;
        color: var(--content-text-color);
    }
}
